@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

:root {
  --main-background: #080605;
  --secondary-background: #0c0808;
  --card-background: #201818;
  --footer-background: #151010;
  --foreground: #d6feb5;
  --accent: #2a942a;
  --foreground-font: 'Syne Mono', monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--foreground-font);
  font-weight: 400;
  font-style: normal;
}

a {
  color: var(--accent);
}

body {
  background-color: var(--main-background);
  color: var(--foreground);
  line-height: 1.8rem;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: grid;
  padding: 0.8rem;
  grid-gap: 1rem;
}

footer {
  background-color: var(--footer-background);
  padding: 1rem;
  text-align: right;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}
h1,
h2,
h3 {
  color: var(--accent);
}
